@import "./colors.css";

* {
  border: none;
  border-radius: 0;
  font-family: "MonaspiceAr Nerd Font", Noto Sans;
  font-size: 12px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  border-bottom: 0px;
  color: @text;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left {
  margin-left: 6px;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right {
  margin-right: 6px;
}

#window,
#workspaces button,
#pulseaudio,
#network,
#backlight,
#cpu,
#memory,
#temperature,
#battery,
#clock {
  background-color: @surface-80;
  border-radius: 22px;
  border-width: 0px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 4px;
  padding: 2px 12px;
}

#workspaces button {
  background-color: @base;
  color: @iris;
  margin-right: 6px;
}

#workspaces button:last-child {
  margin-right: 0px;
}

#workspaces button.active {
  background-color: @foam;
  color: @base;
}

#workspaces button:hover {
  background: @iris;
  color: @base;
}

#pulseaudio,
#battery.good {
  border-color: @foam;
  color: @foam;
}

#battery.warning {
  border-color: @gold;
  color: @gold;
}

#temperature.critical,
#battery.critical {
  border-color: @love;
  color: @love;
}

#pulseaudio.bluetooth {
  border-color: @pine;
  color: @pine;
}

#pulseaudio.muted {
  border-color: @muted;
  color: @muted;
}
